

div{
    height: 80px;
    width: 80px;
   
}

.pos-static{
    position: static;
}

.pos-absolute{
    position: absolute;
}

.pos-fixed{
    position: fixed;
}

.pos-relative{
    position: relative;
}

span{
    text-align: center;
    vertical-align: middle;
}

