*{
    box-sizing: border-box;
    margin: 8px;
}

body{
    background-color: #eee;
    min-width: 230px;
}

.container{
    width: 100%;
    margin: 0 auto;
    border: 1px solid #333;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

input{
    height: 3em;
    font-size: 1.1em;
    text-align: center;
    border-radius: 4px;
}

button{
    font-size: 1em;
    cursor: pointer;
    border-radius: 4px;
    text-transform: capitalize;
}

button:hover{
    font-weight: bold;
}


span{
    text-align: center;
}



@media only screen and (min-width:700px){
    body{
        background: #aaa;
    }

    .container{
        width:90%;
        margin-top: 10px;
        padding: 10px;
    }
}
